.navbar {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*gap: 20px;*/
  color: #fff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
